# Байт-код Python
__pycache__/
*.py[cod]
*$py.class

# Временные файлы
*.tmp

# Файлы, которые могут появиться в корне
.DS_Store



# Файлы виртуального окружения
venv/
myenv/
ENV/

# Файлы, специфичные для PyCharm
.idea/

# Файлы, специфичные для macOS
.DS_Store

# Файлы миграций
*/migrations/*.py
!*/migrations/__init__.py

# Файлы статических медиа
/static/

# Файлы пользовательских настроек
local_settings.py

# Файлы логов
*.log

# Файлы бэкапов БД
*.bak

# Файлы node/npm для фронтенда
node_modules/

# Файлы для деплоя
.env
